<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /bienesraicesMVC/public/

    # Redirige todo excepto archivos y directorios existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige a index.php para manejar rutas
    RewriteRule ^ index.php [L,QSA]
</IfModule>
